// Typography
$base_font = Verdana, Geneva, sans-serif
$font_size = 14px
$line_height = 1.2

// Colors
$color_font = #000
$color_link = #888
$color_hover = #000

$white = #ffffff

$theme_dark = #030303
$theme_light_grey = #e9e9e9
$theme_primary = #167996