.breadcrumb-wrap
  padding: 30px 0 20px
  background-color: $white
  border-bottom: 1px solid $theme_light_grey
  color: $theme_primary
  font-weight: 600
  text-decoration: none

  a
    color: $theme_primary
    font-weight: 600
    text-decoration: none