.products-section
  padding: 20px 0 40px

  .shop-header
    padding-bottom: 20px

    .page-title
      padding-bottom : 20px

    .product-ordering
      text-align: right

  ul.products
    padding-left:0
    list-style: none

    li.product-item
      display : block
      margin-bottom: 40px

.product
  padding: 20px
  background-color: $theme_light_grey

  a
    text-decoration : none
    color: $theme_primary

    img
      margin: 0 auto
      max-width: 100%
      height: auto
      padding-bottom: 20px

    h3
      padding-bottom: 10px

  a.button
    float: right
