.single-product-section

  .product-content
    padding-bottom: 20px

    .product_title
      color: $theme_primary
      padding-bottom: 20px;

    .price
      font-weight: 600

    form.cart
      .quantity
        input
          padding: 5px
          width: 45px
          margin-right: 10px
          float:left

      button
        padding: 7px

  .product-tabs
    padding: 20px 0

    .tab-content
      padding: 20px 0

      h2
        color: $theme_primary
        margin-bottom: 10px

      h3
        small
          margin-left: 20px

      .comment-form
        padding: 20px 0

        textarea
          margin-bottom: 10px
